<section class="all-items">
  <header>
    <h1 class="h3">All Item</h1>
  </header>

  <ol class="list-group">
    <% @items.each do |item| %>
      <li class="list-group-item">
        <h3><%= item.name %></h3>
        <div class="media">
          <%= link_to image_tag(item.item_images.first.image.url(:thumb),
            class: 'media-object'),
            item.item_images.first.image.url,
            target: '_blank' %>
        </div>
        <%= link_to "Exchange", new_item_follow_item_path(item),
          remote: true, class: "btn btn-primary" %>
        <!-- <h3><%= link_to 'Show', item, class: "btn btn-primary btn-xl" %></h3>
        <h3><%= link_to 'Edit', edit_item_path(item), class: "btn btn-primary btn-xl" %></h3>
        <h3><%= link_to 'New Item', new_item_path, class: "btn btn-primary btn-xl" %></h3> -->
      </li>
    <% end %>
  </ol>

  <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
</section>
<%= render 'follow_items/dialog' %>
