<%= form_for :items, method: :get do |f| %>
  <div class="box-search-lg">

    <div class="search-box">
      <%= label_tag :keywords, nil, class: "sr-only" %>
      <%= text_field_tag :keywords, nil,
        placeholder: "Item name or item description",
        class: "form-control" %>
    </div>

    <div class="category-select">
      <%= collection_select(:item, :category_filter,
                            Category.all, :id, :name,
                            {include_blank: 'all categories'},
                            {class: 'form-control'}) %>
    </div>

    <div class="location-select">
      <%= collection_select(:item, :location_filter,
                            Location.all, :id, :city,
                            {include_blank: 'all over the country'},
                            {class: 'form-control'}) %>
    </div>



    <%= submit_tag "Find Items", class: "btn btn-primary btn-lg" %>


  </div>

<% end %>
