<%= form_for :items, method: :get do |f| %>
  <div class="input-group input-group-lg">
    <%= label_tag :keywords, nil, class: "sr-only" %>
    <%= text_field_tag :keywords, nil,
      placeholder: "Item name or item description",
      class: "form-control input-lg" %>
    <span class="input-group-btn">
      <%= submit_tag "Find Items", class: "btn btn-primary btn-lg" %>
    </span>
  </div>

  <div class="form-group">
    <%= collection_select(:item, :location_filter, Location.all, :id, :city, {include_blank: 'all over the country'}) %>
  </div>
  <div class="form-group">
    <%= collection_select(:item, :category_filter, Category.all, :id, :name, {include_blank: 'all categories'}) %>
  </div>
<% end %>
