<%= form_for @item, :html => { :class => 'form-horizontal', multipart: true } do |f| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div  class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control' %>
  </div>

  <div class="form-group">
     <%= f.label :item_images, :class => 'form-label' %>
     <div class="controls">
       <!-- The magic is coming ...look at my eyes....shazammmm -->
       <!-- Use HTML5 multiple attribute to enable multiple selection
            and pass back to controller all files as an array, ready
            for paperclip!!
            file_field_tag, since images is not a gallery attribute
        -->
       <%= file_field_tag "images[]", type: :file, multiple: true, class: 'form-control' %>
     </div>
   </div>

  <div class="form-group">
    <%= f.collection_select :location_id, @locations, :id, :city,
      {include_blank: 'Please Select'},
      {class: 'selectpicker chosen-select' 'form-control'} %>
  </div>

  <div class="form-group">
    <%= f.collection_select :category_id, @categories, :id, :name,
      {include_blank: 'Please Select'},
      {class: 'selectpicker chosen-select' 'form-control'} %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
