<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @item.user.email %>
</p>


<% if @item.item_images.exists? %>
  <div class="media">
    <%= image_tag @item.item_images.first.image.url(:thumb),
      {'data-target' => "#myModal", 'data-toggle' => "modal", 'class' => 'media-object'}
    %>
  </div>
<% else %>
  No attachment available!
<% end %>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <%= carousel_for(@item.image_list :medium) %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<%= link_to 'Edit', edit_item_path(@item) %>
<%= link_to 'Back', items_path %>
