<header class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">Give2Get</a>
    </div>
    <nav>
      <ul class="nav navbar-nav pull-right">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Help", help_path %></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Items
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><%= link_to "Post Item", new_item_path %></li>
          <li><%= link_to "My follower items", follower_path %></li>
          <li><%= link_to "My followed items", followed_path %></li>
        </ul>
      </li>
      <% if user_signed_in? %>
        <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Log In", new_user_session_url, :remote => true %></li>
      <% end %>
      <% if can? :index, Location %>
        <li><%= link_to 'Locations', locations_path %></li>
      <% end %>
      <% if can? :index, Category %>
        <li><%= link_to 'Categories', categories_path %></li>
      <% end %>
      </ul>
    </nav>
    </div>
  </div>
</header>
